body {
  background-color: #eeeeee;
  color: #93afcc;
}
header {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
section {
  display: inline-block;
  margin: 40px 0;
  height: 500px;
  vertical-align: top;
  width: calc(50% - 15px);
}
section.input {
  text-align: right;
}
section.input .form-group {
  margin-bottom: 20px;
}
section.input .form-group label {
  font-size: 18px;
  font-weight: bolder;
}
section.input .form-group input,
section.input .form-group select {
  color: #93afcc;
  border: solid 2px #9eb4ca;
  height: 40px;
  padding: 2px 5px;
  width: 250px;
}
section.input button {
  background-color: #eeeeee;
  border: solid 2px #9eb4ca;
  color: #9eb4ca;
  font-weight: bolder;
  padding: 5px 30px;
}
section.input .message {
  background-color: #def0d8;
  color: black;
  margin-top: 100px;
  padding: 10px 20px;
  text-align: left;
}
section.list {
  margin-left: 20px;
}
section.list .container {
  border: solid 2px #9eb4ca;
  height: 500px;
  width: 80%;
}
section.list table {
  color: black;
  width: 100%;
}
section.list table th {
  text-align: left;
}
section.list table td,
section.list table th {
  border-bottom: solid 1px #e7e7e7;
  height: 40px;
  padding-left: 5px;
  width: 33%;
}
section.list table td {
  cursor: pointer;
}
footer {
  font-size: 18px;
  text-align: right;
}
.has-error {
  color: red !important;
}
.has-error input,
.has-error select {
  border-color: red !important;
  color: red !important;
}
